#MainContent
{
	background-color: yellow;
	width: 95%;
	height: 95%;
}
.Header
{
	background-color: blue;
	position: relative;
	width: 80%;
	height: 10%;
	left: 10%;
}
.Main
{
	background-color: red;
	position: relative;
	width: 80%;
	height: 80%;
	left: 10%;
}
#FilteredContent
{
	
	
	
}
#HighFrequencyBallRack
{
	
}
.whiteball
{
	r: 60;
	stroke: white;
	stroke-width: 4;
	fill: white;
}
.redball
{
	r: 60;
	stroke: red;
	stroke-width: 4;
	fill: red;
	
}
.whiteball.text .redball.text
{
	x=10;
	y=20;
	fill: black;
}
.Footer
{
	background-color: green;
	position: relative;
	width: 80%;
	height: 10%;
	left: 10%;	
}